h1 {
  animation-duration: 1.5s;
  animation-name: aparecer;
  animation-iteration-count: initial;
  margin: 30px 0;
  
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

h1,
h2,
h3,
h4,
th {
  color: #ad6785;
}

h6{
  margin: 30px 0;
}

h6,
p,
li {
  color: #6971a6;
}
